html
	head
	body
		h1 This is going to be a website at some point in the distant future.
		p And this is an informative user list
		each thing in data
			li #{thing.firstName} #{thing.lastName} 
		br
		br
