html
	head
	body
		h1 This is going to be a website at some point in the distant future.
		p And this is an awesome search engine
		br
		br
		
		#searchUser
			input(type='text', name='search', placeholder='Search..')

			style.
				input {
					width: 130px;
					-webkit-transition: width 0.4s ease-in-out;
					transition: width 0.4s ease-in-out;
					}