html
	head
		script(src="/inc/jquery-3.1.1.min.js")
		
	body
		h1 This is going to be a website at some point in the distant future.
		p And this is an awesome search engine
		br
		br

		form(autocomplete="off")
			p Who are you looking for?
			input#inputUser(type='text' list='users')
			datalist#users

			style.
				input {
					width: 130px;
					-webkit-transition: width 0.4s ease-in-out;
					transition: width 0.4s ease-in-out;
					}

		script(src="/inc/ajaxfile.js")