html
	head
	body
		h1 This is going to be a website at some point in the distant future.
		p And this is an awesome search engine
		br
		br
		
		
		form(method='post' action='/matches')
			p Who are you looking for?
			input(type='text', name='inputUser')
			input(type='submit' value='submit')

			style.
				input {
					width: 130px;
					-webkit-transition: width 0.4s ease-in-out;
					transition: width 0.4s ease-in-out;
					}
